<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Assets/CSS/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Russo+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <title>Instruments</title>
</head>
<body>
    
<div class="header4">
    <div class="container">
        <img src="Assets/images/logo1.png" class="logo" width="400">
    </div>
    
</div>
<div class="header3">
    <div class="container">
            <div class="header__adress">
            Наш адрес: Проспект Ленина д.34
        </div>
    </div>
</div> 
    
<div class="header2">
    <div class="container">
        <div class="header__logo1">
            Электро
        </div>
        <div class="header__logo2">
            Инструмент
        </div>
    </div>
</div>
    
<header class="header" id="header">
    <div class="container">
    
        <div class="header__inner">
            <nav class="nav">
                <a class = "nav__link" href="#" data-scroll = "#IntrO">Начало</a>
                <a class = "nav__link" href="#" data-scroll = "#InstrumenT">Инструмент</a>
                <a class = "nav__link" href="#" data-scroll = "#AcsseS">Аксессуары</a>
                <a class = "nav__link" href="#" data-scroll = "#BranD">Бренд</a>
            </nav>
        </div>
    </div>
    
</header>

<div class="Intro" id="IntrO">
    <div class="container">
            <div id="slider">
                  <a href="#" class="control_next"> > </a>
                  <a href="#" class="control_prev"> < </a>
                  <ul>
                    <li style="background: url(Assets/images/Slider_1_03.png)"></li>
                    <li style="background: url(Assets/images/Slider_1_04.png)"></li>
                    <li style="background: url(Assets/images/Slider_1_05.png)"></li>
                  </ul>  
            </div>

            <div class="slider_option">
              <input type="checkbox" id="check">
                <label>Auto spin </label>
            </div>
        </div>
</div>
    
<section class="section" id="InstrumenT">
    <div class="container2">
        <div class="section__header" >
             <h5 class="main__header"> Инструмент </h5>
        </div>
        <div id="slider1">
            <a1 href="#" class="control_next1"> > </a1>
            <a1 href="#" class="control_prev1"> < </a1>
            <ul1>
                <li1 style="background: url(Assets/images/Testbutton_03.png)"></li1>
                <li1 style="background: url(Assets/images/Testbutton2.png)"></li1>
                    
            </ul1> 
        </div>
    </div>
    
    
    
</section>
    
<section class="section section--devices" id="AcsseS">
    <div class="container">
        <div class="section__header">
            <h4 class="head__test"> Выбрать аксессуары </h4>
            <h4 class="head__test2"> Не забудьте подобрать соответствующие аксессуары для вашего оборудования  </h4>
        </div>
        <div id="slider2">
            <a2 href="#" class="control_next2"> > </a2>
            <a2 href="#" class="control_prev2"> < </a2>
            <ul2>
                <li2 style="background: url(Assets/images/itemS2_04.png)"></li2>
                <li2 style="background: url(Assets/images/itemS2_03.png)"></li2>
                    
            </ul2>
            
        </div>
    </div>
    
</section>
    
<section class="section" id="BranD">
    <div class="container">
        <div class="section__header">
            <h5 class="head__test3"> Выбрать бренд </h5>
            <h5 class="head__test4"> Сотни разных брендов представлены в нашем магазине выбор только за вами </h5>
        </div>
        
        <div id="slider3">
            <a3 href="#" class="control_next3"> > </a3>
            <a3 href="#" class="control_prev3"> < </a3>
            <ul3>
                <li3 style="background: url(Assets/images/itemS3_2_03.png)"></li3>
                <li3 style="background: url(Assets/images/itemS3_3_03_03_03.png)"></li3>
                <li3 style="background: url(Assets/images/itemS3_03.png)"></li3>
                    
            </ul3>
            
        </div>
    </div>
    
</section>
    
<section class="section section--devices2">
    <div class="container">
        <div class="section__header">
            <h4 class="head__test5"> Доставка и оплата </h4>
            <h4 class="head__test6"> Доставим в любую точку города независимо от габаритов и параметров заказа, любому клиенту от 10 000 руб. скидка на оплату в размере 15% </h4>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="section__header">
            <h5 class="head__test7"> АДРЕС И ВРЕМЯ ДОСТАВКИ </h5>
            <h5 class="head__test8"> Выберите удобную для вас дату и время доставки, введите ваши персональные данные телефон, имя и адрес, эта информация нужна нам для точной и своевременной доставки. Спасибо за понимание! </h5>
            
        </div>
        
        <div class="container__box">
            <input id="name" type="text" name="user_name" placeholder="Имя">
            <input id="phone" type="tel" name="user_phone" placeholder="Телефон">

        </div>
        <div class="container__box">
            <input id="date" type="date" name="date_time" placeholder="Дата">
            <input id="time" type="time" name="user_time" placeholder="Время">

        </div>
        <div class="container__box">
            <input id="AdresS" type="text" name="user_adress" placeholder="Адрес">
        </div>
        <div class="container__box">
            <input id="Comments" type="text" name="user_comments" placeholder="Комментарий к заказу">
        </div>
        
        <div id="lvTable">
          <table>
            <thead>
              <!-- Заголовок таблицы -->
              <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th class="th60">Цена</th>
                <th class="th60">Сумма</th>
                <th>Х</th>
              </tr>
            </thead>
            <tbody>
              <!-- Заполнение таблицы -->
              <tr v-for="(entry, index) in tbData">
                <!-- Цикл по строкам -->
                <td style="text-align:center"><b>{{index + 1}}</b></td>
                <!-- Номер строки -->
                <td><input class="th180" :value="entry['name']" v-model="entry['name']" placeholder="Введите наименование" title="Введите наименование товара"></td>
                <!-- Наименование -->
                <td><input class="th60" :value="entry['count']" v-model="entry['count']" type="number" min="0" max="999999" maxlength="6" title="Введите количество товара"></td>
                <!-- Количество -->
                <td><input class="th60" :value="entry['price']" v-model="entry['price']" type="number" min="0" max="999999" maxlength="6" title="Введите цену товара"></td>
                <!-- Цена -->
                <td><input class="th60 thAm" :value="entry['amount']" readonly title="Сумма за товар"></td>
                <!-- Сумма -->
                <td><button class="b20" v-if="tbData.length > 1" v-on:click="fDeleteRow(index)" title="Удалить строку">-</button></td>
                <!-- Удалить строку (если строк больше одной) -->
              </tr>
            </tbody>
            <tfoot>
              <!-- футер таблицы -->
              <tr>
                <td><button class="b20" v-on:click="fAddNewRow" title="Добавить строку в таблицу">+</button></td>
                <!-- Кнопка добавления стороки в таблицу -->
                <td colspan="3" style="text-align:right"><b>ИТОГО:</b></td>
                <td colspan="2"><b>{{fCalcPrice}}</b></td>
                <!-- Итоговая сумма -->
              </tr>
            </tfoot>
          </table>
        </div>
    
    </div>
    
</section>
<section class="section">
    <div class="container">
    
    </div>
</section>
    
<section class="section section--devices3">
    <div class="container">
        <div class="section__header">
            <div class="container6">
            <nav class="nav">
                <a class = "nav__link" href="#" data-scroll = "#IntrO">Начало</a>
                <a class = "nav__link" href="#" data-scroll = "#InstrumenT">Инструмент</a>
                <a class = "nav__link" href="#" data-scroll = "#AcsseS">Аксессуары</a>
                <a class = "nav__link" href="#" data-scroll = "#BranD">Бренд</a>
            </nav>
        </div>
            <h4 class="head__test9"> ЭЛЕКТРОИНСТРУМЕНТ </h4>
            <h4 class="head__test10"> Огромный выбор электроинструмента и аксессуаров к нему, наш магазин всегда рад видеть новых клиентов </h4>
            <h5 class="head__test11"> ✉ electrotech@gmail.com </h5>
            <h5 class="head__test11"> ☎ +7 900 555 66 66 </h5>
            <h5 class="head__test11"> ⚠ Проспект Ленина дом 34 </h5>
        </div>
        <div class="container5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2251.3332037836717!2d37.32240060592272!3d55.64841332837434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5519ba81768f9%3A0x3ba2b017ded25d9e!2z0YPQuy4g0JvQtdC90LjQvdCwLCAzNCwg0JzQuNGH0YPRgNC40L3QtdGGLCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0LsuLCAxMTk2MzQ!5e0!3m2!1sru!2sru!4v1607532577488!5m2!1sru!2sru" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>

<script src="https://unpkg.com/vue"></script>
<script src="Assets/JavaScript/app.js"></script>
<script src="Assets/JavaScript/tech.js"></script>
<script src="Assets/JavaScript/tech2.js"></script>
<script src="Assets/JavaScript/tech3.js"></script>
<script src="Assets/JavaScript/tech4.js"></script>
<script src="Assets/JavaScript/tech5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>